
//BLOG ENTRY
.block-20 {
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 275px;
	position: relative;
	display: block;
}
.blog-entry{
	@include media-breakpoint-up(md){
		margin-bottom: 30px;
	}
	@include media-breakpoint-down(sm){
		margin-bottom: 30px;
	}
	.text {
		position: relative;
		border-top: 0;
		border-radius: 2px;
		.desc{
			width: calc(100% - 100px);
		}
		.heading {
			font-size: 20px;
			margin-bottom: 16px;
			a {
				color: $primary;
				&:hover, &:focus, &:active {
					color: $primary;
				}
			}
		}
		.meta-chat{
			color: lighten($black, 70%);
		}
		.read{
			color: $black;
			font-size: 14px;
		}
	}
	.meta {
		width: 100px;
		text-align: right;
		> div {
			display: block;
			margin-right: 5px;
			margin-bottom: 0px;
			font-size: 15px;
			a {
				color: lighten($black, 70%);
				font-size: 13px;
				&:hover {
					color: lighten($black, 80%);
				}
			}
		}
	}
}





/* Blog*/
.post-info {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: $white;
	letter-spacing: .1em;
	> div {
		display: inline-block;

		.seperator {
			display: inline-block;
			margin: 0 10px;
			opacity: .5;
		}
	}
}

.tagcloud {
	a {
		text-transform: uppercase;
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 7px;
		margin-right: 4px;
		border-radius: 4px;
		color: $black;
		border: 1px solid #ccc;
		font-size :11px;
		&:hover {
			border: 1px solid #000;
		}
	}
}

.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 18px;
				font-weight: 500;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: #ccc;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black, 90%);
				color: $black;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: .1em;
				font-weight: 400;
				border-radius: 4px;
				&:hover {
					color: $white;
					background: lighten($black, 0%);
				}
			}
		}
	}
}

.search-form {
	background: lighten($black, 98%);
	padding: 10px;

	.form-group {
		position: relative;
		margin-bottom: 0;
		input {
			padding-right: 50px;
			font-size: 14px;
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}

.subs-wrap{
	background: $primary !important;
	display: block;
	width: 100%;
	color: rgba(255,255,255,.7);
	h3{
		color: $white;
		font-size: 30px !important;
	}
}
.subscribe-form{
	.form-group {
		position: relative;
		margin-bottom: 0;
		@include border-radius(0);
		input {
			background: transparent !important;
			border: 1px solid transparent;
			color: rgba(255,255,255,.7) !important;
			font-size: 16px;
			@include border-radius(0);
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: rgba(255,255,255,.7) !important;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: rgba(255,255,255,.7) !important;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: rgba(255,255,255,.7) !important;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: rgba(255,255,255,.7) !important;
			}
		}
		.form-control{
			border: 1px solid rgba(255,255,255,.4);
		}
		.submit{
			color: $black !important;
			display: block;
			width: 100%;
			height: 52px;
			font-size: 16px;
			background: $white !important;
			@include border-radius(0);
			&:hover{
				cursor: pointer;
			}
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		color: rgba(255,255,255,.8);
	}
}