
.ftco-footer {
	font-size: 14px;
	background: #141313;
	padding: 6em 0;
	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			font-weight: normal;
			color: $white;
			margin-bottom: 40px;
			font-size: 18px;
			font-weight: 400;
		}
		ul{
			li{
				a{
					span{
						color: $white;
					}
				}
			}
		}
		.btn-primary{
			background: $white !important;
			border: 2px solid $white !important;
			&:hover{
				background: $white;
				border: 2px solid $white !important;
			}
		}
	}
	p {
		color: rgba($white, .7);
	}
	a {
		color: rgba($white, .7);
		&:hover {
			color: $white;
		}
	}
	.ftco-heading-2 {
		font-size: 17px;
		font-weight: 400;
		color: $black;
	}

	.categories{
		li{
			border-bottom: 1px solid rgba(255,255,255,.1);
			a{
				span{
					color: rgba(255,255,255,.5) !important;
				}
			}
		}
	}
	.subscribe-form{
		.form-group {
			position: relative;
			margin-bottom: 0;
			@include border-radius(0);
			input {
				@include border-radius(2px);
				width: 100%;
				background: rgba(255,255,255,.1) !important;
				border: none;
				color: rgba(255,255,255,.7) !important;
				font-size: 16px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: rgba(255,255,255,.7) !important;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: rgba(255,255,255,.7) !important;
				}
				&:-ms-input-placeholder { /* IE 0+ */
				  color: rgba(255,255,255,.7) !important;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: rgba(255,255,255,.7) !important;
				}
			}
			.submit{
				color: $white !important;
				font-size: 16px;
				background: $primary !important;
				border: none !important;
				@include border-radius(2px);
				&:hover{
					cursor: pointer;
				}
			}
		}
		.icon {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			color: rgba(255,255,255,.8);
		}
	}
}


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 40px;
			width: 40px;
			display: block;
			float: left;
			background: rgba($white, .05);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $white;
			}
		}
	}
}
.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}
.media {
	.ftco-icon {
		width: 100px;
		span {
			color: $primary;
		}
	}
}

