


//TESTIMONY
.testimony-section, .ftco-client{
	position: relative;
	.owl-carousel{
		margin: 0;
	}
	.owl-carousel .owl-stage-outer{
		padding-top: 3.5em;
		padding-bottom: 2em;
		position: relative;
	}
	.owl-nav {
		position: absolute;
		top: 100%;
		width: 100%;
		.owl-prev,
		.owl-next {
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
			outline: none !important;
			@include transition(.3s);
			span {
				&:before {
					font-size: 30px;
					color: rgba(0,0,0,.2);
					@include transition(.3s);
				}
			}
			&:hover,&:focus{
				span{
					&:before{
						color: $black;
					}
				}
			}
			opacity: 0;
		}
		.owl-prev {
			left: 50%;
			margin-left: -80px;
		}
		.owl-next {
			right: 50%;
			margin-right: -80px;
		}
	}
	&:hover{
		.owl-nav{
			.owl-prev,
			.owl-next{
				opacity: 1;
			}
			.owl-prev {
				left: 50%;
				margin-left: -80px;
			}
			.owl-next {
				right: 50%;
				margin-right: -80px;
			}
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: rgba(0,0,0,.2);
			&.active {
				background: $primary;
			}
		}
	}
}
.testimony-wrap{
	display: block;
	position: relative;
	background: rgba(255,255,255,.1);
	color: rgba(0,0,0,.8);
	.user-img{
		width: 100px;
		height: 100px;
		border-radius: (50%);
		position: relative;
		margin-top: -75px;
		margin-left: 40px;
		.quote{
			position: absolute;
			bottom: -10px;
			right: 0;
			width: 40px;
			height: 40px;
			background: $white;
			@include border-radius(50%);
			i{
				color: $primary;
			}
		}
	}
	.name{
		font-weight: 400;
		font-size: 18px;
		margin-bottom: 0;
		color: $black;
	}
	.position{
		font-size: 13px;
	}
	.line{
		position: relative;
		border-left: 1px solid lighten($black,90%);
		&:after{
			position: absolute;
			top: 50%;
			left: -2px;
			transform: translateY(-50%);
			content: '';
			width: 3px;
			height: 30px;
			background: $primary;
		}
	}
}

.ftco-client{
	position: relative;
	.owl-carousel{
		margin: 0;
	}
	.owl-carousel .owl-stage-outer{
		padding-top: 0;
		padding-bottom: 2em;
		position: relative;
	}
}
